---
import Layout from "../layouts/Layout.astro";
import { getCollection } from 'astro:content';
import config from "../../astro.config.mjs";

export const prerender = true;

export async function getStaticPaths() {
  const collection = [
    ...await getCollection('departments'),
    ...await getCollection('tutorials')
  ];
  return collection.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const collection = [
  ...await getCollection('departments'),
  ...await getCollection('tutorials')
];

let entry = config.output === "static"
  ? Astro.props.entry
  : collection.find(entry => entry.slug == Astro.params.slug);

const { data: { description, title } } = entry ?? { data: { description: 'Not Found', title: 'Not Found' } };
const { Content } = entry !== undefined ? await entry.render() : { Content : '' };
---
<Layout title={title} includeNavBar={true}>
  <div style={{paddingLeft: "15px", paddingRight: "15px"}}>
    <Content />
    <footer><a href="/">Back Home</a></footer>
    <br>
  </div>
</Layout>
