---
import Layout from "../layouts/Layout.astro";
import { getCollection } from 'astro:content';
import config from "../../astro.config.mjs";

export const prerender = true;

export async function getStaticPaths() {
  const collection = [
    ...await getCollection('departments'),
    ...await getCollection('tutorials')
  ];
  return collection.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const collection = [
  ...await getCollection('departments'),
  ...await getCollection('tutorials')
];

let entry = config.output === "static"
  ? Astro.props.entry
  : collection.find(entry => entry.slug == Astro.params.slug);

if (!entry) {
  entry = { data: { description: 'Not Found', title: 'Not Found' }, render: async () => ({ Content: () => 'Content not found' }) };
}

const { data: { description, title } } = entry;
const { Content } = await entry.render();
---
<Layout title={title}>
  <div style={{paddingLeft: "15px", paddingRight: "15px"}}>
    <Content />
  </div>
  <footer><a href="/">Root</a></footer>
</Layout>
