---
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const codeEntries = await getCollection('tutorials');
  return codeEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { data } = entry;
const { description, title } = data;
const { Content } = await entry.render();
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>FTA Documentation</title>
  </head>
  <body>
    <h1>FTA Documentation</h1>
    {
<div style={{paddingLeft: "30px"}}>
  <Content />
</div>
}
  </body>
</html>
