---
import { getCollection } from 'astro:content';
const codeEntries = await getCollection('tutorials');
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Formula Trinity Autonomous Docs</title>
  </head>
  <body>
    <h1>Astro</h1>
    <center>
      <style>
object {
  width: 80%;
}
</style>
      <object type="image/svg+xml" data="/public/system diagram.svg"></object>
    </center>
    <h2>Departments</h2>
    <ul>
      <li>Perception</li>
      <li>State Estimation</li>
      <li>Path Planning</li>
      <li>Control</li>
      <li>Hardware</li>
      <li>Simulation</li>
    </ul>
    <h2>Tutorials</h2>
    {
<ul>
  {codeEntries.map(e => (<li><a href={`/${e.slug}`}}>{e.data.title}</a></li>))}
</ul>
}
  </body>
</html>
