---
import { getCollection, getEntry } from 'astro:content';
const codeEntries = await getCollection('tutorials');
const depts = await getCollection('departments');
import * as Context from "../content/departments/config.ts";
const departmentEntries = await Promise.all(Context.slugOrder.map(e => getEntry('departments', e)));
import * as Theme from "../theme.ts";
---
<style define:vars={ Theme }>
ul {
  list-style-type: none;
  padding-left: 0px;
}
ul li {
  background: linear-gradient(90deg, var(--gradientStartEvenColor) 0%, var(--gradientStartEvenColor) 30%, var(--gradientEndColor) 100%);
  padding-top: 1px;
  padding-bottom: 1px;
}
ul li:nth-child(odd) {
  background: linear-gradient(90deg, var(--gradientStartOddColor) 0%, var(--gradientStartOddColor) 30%, var(--backgroundColor) 100%);
}
</style>
<h2>Departments</h2>
<ul>
  {departmentEntries.map(e => (<li><a href={`/ft_docs/${e.slug}`}>{e.data.title}</a></li>))}
</ul>
<h2>Guides and Tutorials</h2>
<ul>
  {codeEntries.map(e => (<li><a href={`/ft_docs/${e.slug}`}}>{e.data.title}</a></li>))}
</ul>
