<div>
  <style>
div  {
  float: right;
}
/* https://stackoverflow.com/questions/6534473/how-can-i-make-the-width-of-my-figcaption-match-the-width-of-the-img-inside */
div :global(figure) {
  margin-left: 20px;
  display: table;
}
div :global(figcaption) {
  display: table-caption;
  caption-side: bottom;
}
</style>
  <div>
    <slot/>
  </div>
</div>
