---
const { title } = Astro.props;
const backgroundColor = "#1B0000";
const foregroundColor = "#FFFFFF"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/ft_docs/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <style define:vars={{ backgroundColor }}>
      @import url(https://cdn.xeiaso.net/static/css/iosevka/family.css);
      :global(pre) {
        padding: 10px;
        box-shadow: inset var(--backgroundColor) 0px 0px 5px 5px;
      }
      </style>
    <header>
      <style define:vars={{ backgroundColor, foregroundColor }}>
      img {
        height: 1em;
      }
      :global(a) {
        color: red;
      }
      :global(a:visited) {

        color: maroon;
      }
      body {
        color: var(--foregroundColor);
        background-color: var(--backgroundColor);
        /* Copied from docs.evervault.com */
        /* font-family: Roobert,Inter,ui-sans-serif,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif; */
      }

      /* Copied from https://xeiaso.net/blog/iaso-fonts/ */
      :global(body) {
        font-family: "Iosevka Aile Iaso", sans-serif;
      }

      /* Copied from https://xeiaso.net/blog/iaso-fonts/ */
      :global(code, pre) {
        font-family: "Iosevka Curly Iaso", monospace;
        font-size: 14px;
      }

      /* Copied from https://xeiaso.net/blog/iaso-fonts/ */
      :global(h1, h2, h3, h4, h5, h6) {
        font-family: "Iosevka Etoile Iaso", serif;
      }


      h1 a {
        /* https://stackoverflow.com/questions/8919682/remove-all-styling-formatting-from-hyperlinks */
        color: inherit;
        text-decoration: none;
      }
      
      h1 {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5em;
      }

      </style>
      <h1>
        <span>
          <a href="/ft_docs/">Formula Trinity Autonomous Documentation</a>
        </span>
        <a href="/ft_docs/"><img src="/ft_docs/favicon.png"/></a>
      </h1>
    </header>
    <slot/>
  </body>
</html>
