---
import { UserButton } from "@clerk/astro/components";
import LeftNavBar from "../components/LeftNavBar.astro";
import Authenticated from "./Authenticated.astro";
import Identity from "./Identity.astro";
const { title, includeNavBar } = Astro.props;
const AuthBarrier = process.env.FT_DOCS_FORCE_AUTH == "1"
  ? Authenticated
  : Identity;
import * as Theme from "../theme.ts";
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <style define:vars={ Theme }>
      @import url(https://cdn.xeiaso.net/static/css/iosevka/family.css);
      body {
        background-color: var(--backgroundColor);
        color: var(--foregroundColor);
      }
      a {
        color: var(--foregroundColor);
      }
      a:visited {
        color: var(--linkVisitedColor);
      }
      a:hover {
        color: var(--linkHoverColor);
      }
      .two-panel-layout {
        display: flex;
        flex-direction: row;
      }
      header {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        background-color: var(--backgroundColor);
      }
      .logo {
        height: 1em;
        margin-right: 10px;
      }
      .title {
        text-align: center;
        margin: 0;
      }
      .main-content {
        display: flex;
      }
      .left-nav {
        min-width: 200px;
      }
      .content {
        flex-grow: 1;
        padding: 20px;
      }
    </style>
  </head>
  <body>
    <header>
      <a href="/"><img class="logo" src="/favicon.png" alt="Logo" /></a>
      <h1 class="title">Formula Trinity</h1>
    </header>
    <main class="main-content">
      {includeNavBar && <div class="left-nav"><LeftNavBar /></div>}
      <div class="content">
        <slot />
      </div>
    </main>
  </body>
</html>
