---
import { UserButton } from "@clerk/astro/components";
import LeftNavBar from "../components/LeftNavBar.astro";
import Authenticated from "./Authenticated.astro";
import Identity from "./Identity.astro";
const { title, includeNavBar } = Astro.props;
const AuthBarrier = process.env.FT_DOCS_FORCE_AUTH == "1"
  ? Authenticated
  : Identity;
import * as Theme from "../theme.ts";
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <style define:vars={ Theme }>
      @import url(https://cdn.xeiaso.net/static/css/iosevka/family.css);
      :global(pre) {
        padding: 10px;
        /* box-shadow: inset var(--backgroundColor) 0px 0px 5px 5px; */
      }
      .two-panel-layout {
        display: flex;
        flex-direction: row;
      }
      .left {
        min-width: 175px;
        max-width: 175px;
        padding-left: 20px;
        padding-right: 20px;
        margin-right: 10px;
        border-right: 1px solid white;
      }
    </style>
    <header>
      <style define:vars={ Theme }>
        :global(a) { color: red; text-decoration: none; }
        :global(a:visited) { color: var(--linkVisitedColor); } /* basically maroon */
        :global(a:hover) { text-decoration: underline }
        :global(a:hover:visited) { color: var(--linkHoverVisitedColor); }
        :global(a:hover) { color: var(--linkHoverColor); }
        header {
          color: white;
          background-color: black;
          padding-left: 15px;
          padding-right: 15px;
          padding-top: 5x;
          margin: 10px;
        }
      </style>
      <h1>
        <a href="/"><img style={{ height: "1em" }} src="/favicon.png"/>
        <span>
          <a href="/">Formula Trinity Autonomous Wiki</a>
        </span>
        <UserButton afterSignOutUrl={`https://${process.env.FT_DOCS_HOST}/ft_docs`} /></a>
      </h1>
    </header>
    <AuthBarrier>
      <div class="two-panel-layout">
        {(includeNavBar ?? true) ? <div class="left"><LeftNavBar/></div> : ""}
        <div>
          <slot/>
        </div>
      </div>
    </AuthBarrier>
  </body>
</html>
