---
import { UserButton } from "@clerk/astro/components";
import LeftNavBar from "../components/LeftNavBar.astro";
import Authenticated from "./Authenticated.astro";
import Identity from "./Identity.astro";

const { title, includeNavBar } = Astro.props;

const AuthBarrier = process.env.FT_DOCS_FORCE_AUTH == "1"
  ? Authenticated
  : Identity;

import * as Theme from "../theme.ts";
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <style define:vars={ Theme }>
      body {
        background-color: var(--backgroundColor);
        color: var(--foregroundColor);
        font-family: 'Montserrat', sans-serif;
        margin: 0;
        padding: 0;
      }
      header {
        background-color: var(--secondaryBackgroundColor);
        color: var(--foregroundColor);
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #CCCCCC;
      }
      header a {
        color: var(--foregroundColor);
        text-decoration: none;
        font-size: 1.5rem;
      }
      .two-panel-layout {
        display: flex;
      }
      .left {
        min-width: 200px;
        max-width: 200px;
        padding: 1rem;
        background-color: var(--gradientStartEvenColor);
        border-right: 1px solid #CCCCCC;
      }
      .content {
        flex: 1;
        padding: 1rem;
      }
      footer {
        background-color: var(--secondaryBackgroundColor);
        color: var(--foregroundColor);
        text-align: center;
        padding: 1rem;
        border-top: 1px solid #CCCCCC;
      }
      h1, h2, h3, h4, h5, h6 {
        font-family: 'Arial', sans-serif;
        color: var(--foregroundColor);
      }
    </style>
  </head>
  <body>
    <header>
      <a href="/"><img style="height: 2rem;" src="/favicon.png" alt="Logo"/> Formula Trinity Autonomous Wiki</a>
      <UserButton afterSignOutUrl={`https://${process.env.FT_DOCS_HOST}/ft_docs`} />
    </header>
    <AuthBarrier>
      <div class="two-panel-layout">
        {(includeNavBar ?? true) ? <div class="left"><LeftNavBar/></div> : ""}
        <div class="content">
          <slot/>
        </div>
      </div>
    </AuthBarrier>
    <footer>
      &copy; {new Date().getFullYear()} Formula Trinity Autonomous Wiki
    </footer>
  </body>
</html>